<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BASE{% endblock %}</title>
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="header">
                <div class="header_banner"></div>
            </div>
        {% endblock %}
        {% block js %}
            {{ encore_entry_script_tags('app') }}          
        {% endblock %}
    </body>
</html>
